<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>メモ帳-内容修正</title>
    <link rel="stylesheet" href="/views.css">
  </head>
  <body>
    <h1>メモ帳</h1>
    <form class="form" action="/memo" method="POST">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="id" value="<%= params['id'] %>">
      <label class="label_left" for="title">タイトル</label><br>
      <input type="text" name="title" value="<%= @title %>" required>
      <br><br>
      <label class="label_left" for="content">内容</label><br>
      <textarea name="content"><%= @content.gsub("<br>", "\r\n") %></textarea><br><br>
      <input type="submit" value="変更">
    </form>
    <form class="form" action="/" method="GET">
      <input type="submit" value="戻る">
    </form>
  </body>
</html>
